<!-- Button trigger modal -->
<div class="text-end">
    <button type="button" class="btn m-auto btn-success" data-bs-toggle="modal" data-bs-target="#ProjectModal">
        Create A New Project
    </button>
</div>


<!-- Modal -->
<div class="modal fade" id="ProjectModal" tabindex="-1" aria-labelledby="ProjectModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ProjectModalLabel">Create a new project</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form class="border border-light border-3" action="/project" method="POST">
                <div class="row mb-3 m-auto">
                    <label for="name" class="col-sm-4 col-form-label">Name</label>
                    <div class="col-sm-8">
                        <input type="text" name="name" placeholder="Name of your project" required class="form-control"
                            id="name" />
                    </div>
                </div>
                <div class="row mb-3 m-auto">
                    <label for="desc" class="col-sm-4 col-form-label">Description</label>
                    <div class="col-sm-8">
                        <textarea name="desc" placeholder="Write something about the project" required
                            class="form-control" id="desc" style="height: 90px"></textarea>
                    </div>
                </div>
                <div class="row mb-3 m-auto">
                    <label for="author" class="col-sm-4 col-form-label">Author</label>
                    <div class="col-sm-8">
                        <input type="text" name="author" placeholder="Author Name" required class="form-control"
                            id="author" />
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                        Close
                    </button>
                    <button type="submit" class="btn btn-success">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>